# Environment Variables

# Google Apps Script Web App URL
# Setelah deploy GAS, paste URL di sini
NEXT_PUBLIC_API_URL="https://script.google.com/macros/s/AKfycbw2H5jBy6d_4vEHPe9I9Jgq82SbFEdu1KkEoILCrBt2G_SqS0vA4CZMqEJDzVwCHl2f/exec"

# Nama Aplikasi
NEXT_PUBLIC_APP_NAME="CBT Sekolah"

# PIN untuk Live Score (bisa juga diset di Google Sheets Config)
NEXT_PUBLIC_LIVE_SCORE_PIN="2025"
